* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #6673fc;
  border: 3px solid #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

/* text selection style */
::selection {
  color: #eaeef3;
  background: #6673fc;
}

::-moz-selection { /* Code for Firefox */
  color: #eaeef3;
  background: #6673fc;
}

body {
  background: #eaeef3;
}